name: "CI"
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.1
    steps:
      - uses: actions/checkout@v4
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Set up Eldev
        uses: emacs-eldev/setup-eldev@v1
      - name: Test
        run: |
          make test
